.contactAllContainer {
  padding: 10rem;
  width: 90%;
  margin: 0 auto;
}

.contactFormContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.contactTitle {
  margin-bottom: 5rem;
}

.contactTitle p {
  font-size: 2rem;
  margin-left: 1rem;
  color: #876c6a;
}

.contactTitle h4 {
  font-size: 4rem;
}

.form {
  display: grid;
  grid-template-columns: 30rem 30rem;
  gap: 2rem;
}

.form input,
.form textarea {
  font-family: inherit;
  padding: 1.3rem 2rem;
  background-color: #f3f3f3;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 2.5rem;
}

.form input:focus,
.form textarea:focus {
  outline: 2.5px solid #181818;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
}

.form input::placeholder,
.form textarea::placeholder {
  font-size: 1.8rem;
}

.form textarea {
  grid-column: 1 / -1;
}

.form button {
  grid-column: 1 / -1;
  justify-self: start;
  background-color: #101d2c;
  color: #fff;
  transition: all 0.3s;
  cursor: pointer;
  padding: 1.5rem 3rem;
  border-radius: 5px;
  font-size: 2rem;
  font-family: inherit;
  border: none;
}

.form button:hover {
  opacity: 0.9;
}

.contactFormContact {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 1rem;
}

.socialSpan {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: #101d2c;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  cursor: pointer;
}

.socialSpan:hover {
  opacity: 0.9;
  transform: rotateY(180deg);
}

.socialIcon {
  font-size: 3rem;
  color: #fff;
}

.contact h3 {
  font-size: 2.5rem;
}

.contact p {
  font-size: 2rem;
  word-wrap: break-word;
  width: 100%;
}

.gap {
  gap: 10rem;
}

.message {
  color: #fff;
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  font-size: 1.5rem;
  grid-column: 1 / -1;
}

.success {
  background-color: #37b24d;
}

.error {
  background-color: #fa5252;
}

.warning {
  background-color: #fcc419;
}

.contactAllContainer {
  padding: 5rem;
}

.contactFormImgContainer img {
  max-width: 55rem;
}

@media only screen and (max-width: 950px) {
  .form {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 850px) {
  .contactFormImgContainer img {
    max-width: 60rem;
  }
}

@media only screen and (max-width: 750px) {
  .contactFormImgContainer img {
    max-width: 50rem;
  }

  .contactAllContainer {
    padding-right: 0rem;
    padding-left: 2rem;
  }

  .whatsappText {
    font-size: 1.8rem !important;
  }

  .gap {
    gap: 5rem;
  }
}

@media only screen and (max-width: 600px) {
  .contactFormImgContainer img {
    max-width: 40rem;
  }

  .contactFormButton {
    padding: 1rem 3rem !important;
    font-size: 1.8rem !important;
  }
}

@media only screen and (max-width: 500px) {
  .contactFormImgContainer img {
    max-width: 30rem;
  }
}
