.faqContainer {
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10rem;
}

.faq {
  align-self: flex-start;
}

.faq:first-child {
  color: #6a6a6a;
  font-size: 3rem;
}

.title {
  color: #000;
  font-size: 5rem;
  margin-bottom: 5rem;
}

.faqContent {
  display: grid;
  grid-template-columns: repeat(2, 1fr) !important;
  justify-items: center;
  gap: 2rem;
}

.faqContentImgContainer {
  width: 100%;
}

.faqContentImgContainerImg {
  width: 100%;
}

@media only screen and (max-width: 1660px) {
  .faqContent {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 1000px) {
  .faqContentImgContainer {
    max-width: 60rem;
    border-radius: 5px;
    overflow: hidden;
    padding: 0;
  }

  .faqContent {
    grid-template-columns: 1fr !important;
    gap: 1rem;
  }

  .title {
    font-size: 4rem;
  }

  .faq p {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 900px) {
  .title {
    font-size: 4rem;
  }

  .faq:first-child {
    font-size: 2rem;
  }

  .faqContainer {
    padding: 8rem 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 4rem;
  }

  .faq p {
    font-size: 2rem;
  }

  .faqContent {
    justify-items: left;
  }

  .faqContainer {
    padding: 8rem 5rem;
  }
}
