.gallery {
  padding: 5rem;
  background-color: #e3e3e3;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.gallery img {
  width: 40vw;
}

.gallery img:nth-child(odd) {
  justify-self: right;
}
