.nav {
  background-color: #101d2c;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5rem;
  position: sticky;
  top: 0px;
  z-index: 9999999999;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2);
}

.navLogo img {
  width: 250px;
}

.navLeftContainer {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navLeft {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 2rem;
}

.active {
  color: #fff;
  text-decoration: none;
}

.navLink {
  color: #868e96;
  text-decoration: none;
  transition: all 0.3s;
}

.navLink:hover {
  color: #e9ecef;
}

.navTop {
  background-color: #181818;
  color: #8f8f8f;

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 2rem;
  padding: 2rem 3rem;
}

.navTopLeft {
  display: flex;
  align-items: center;
  gap: 5rem;
  justify-content: space-between;
}

.navTopLeftEmail {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navTopLeftAddress {
  display: flex;
  align-items: center;
  gap: 1rem;
  word-break: break-word;
}

.navTopCenter {
}

.navTopCenterSocial {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.navTopCenterSocialInstagram,
.navTopCenterSocialFacebook {
  transition: all 0.3s;
  opacity: 1;
}

.navTopCenterSocialInstagram:hover,
.navTopCenterSocialFacebook:hover {
  opacity: 0.6;
}

/** */
.iconContainer {
  font-size: 3rem;
}

.menuIcon {
  display: block;
}

.closeIcon {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .nav {
    justify-content: space-between;
    padding: 2rem;
  }

  .navTop {
    display: grid;
    grid-template-columns: 1fr;
  }

  .navTopLeft {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .navTopCenterSocial {
    margin-top: 10px;
  }

  .navLogo img {
    width: 200px;
  }
}

@media only screen and (max-width: 750px) {
  .navLogo img {
    width: 150px;
  }
}
