.stationaryContainer h4 {
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

.stationaryContainer p {
  font-size: 1.7rem;
}

.stationaryFeatures {
  padding: 4rem 10rem;
}

.stationaryFeatures h4 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.stationaryFeatures p,
.stationaryFeatures li {
  font-size: 2rem;
}

.stationaryFeatures li {
  margin-left: 2rem;
}

.bigFont {
  font-size: 4rem !important;
}

.margin2 {
  margin-bottom: 2rem;
}

@media only screen and (max-width: 1200px) {
  .stationaryContainer {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 600px) {
  .stationaryContainer {
    padding: 0rem;
  }

  .stationaryFeatures {
    padding: 2rem 5rem;
  }

  .stationaryTitleContainer {
    padding: 2rem 5rem;
  }
}
