.surveyContainer {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  color: #181818;
}

.container {
  width: 65%;
  margin: 0 auto;
}

.surveyContainer h4 {
  font-size: 4rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
}

.submitSurvey {
  background-color: #101d2c;
  color: #fff;
  transition: all 0.3s;
  cursor: pointer;
  padding: 1.5rem 3rem;
  border-radius: 5px;
  font-size: 2rem;
  font-family: inherit;
  border: none;
  margin-bottom: 2rem;
}

.submitSurvey:hover {
  opacity: 0.9;
}

.surveyForm p {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.surveyForm textarea {
  font-family: inherit;
  padding: 1.3rem 2rem;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 2.5rem;
  display: block;
  margin-bottom: 2rem;
}

.surveyForm textarea:focus {
  outline: 2.5px solid #181818;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
}

.surveyForm textarea::placeholder {
  font-size: 3rem;
}

.formGroup {
  display: grid;
  grid-template-columns: 1fr 28rem;
  gap: 2rem;
  background-color: #fff;
  padding: 5rem;
  margin-bottom: 5rem;
  align-items: center;
}

.formGroup:last-child {
  margin-bottom: 10rem;
}

.formGroup label {
  font-size: 2.2rem;
}

.formGroup select,
.formGroup option {
  font-size: 2rem;
  border: none;
  padding: 0.5rem 2rem;
  background-color: #e3e3e3;
  box-shadow: 0 3px 6px rgba(255, 255, 255, 1);
}

.formGroup select:focus {
  outline: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.success {
  background-color: #37b24d;
}

.error {
  background-color: #fa5252;
}

.warning {
  background-color: #fcc419;
}

.message {
  margin: 0 auto;
  color: #fff;
  padding: 1rem;
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 1rem;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 1400px) {
  .container {
    width: 75%;
  }

  .surveyForm p {
    font-size: 2.5rem;
  }

  .formGroup {
    grid-template-columns: 1fr 30rem;
  }
}

@media only screen and (max-width: 1255px) {
  .formGroup label {
    font-size: 2rem;
  }

  .formGroup select,
  .formGroup option {
    font-size: 2rem;
  }

  .formGroup {
    grid-template-columns: 1fr 25rem;
  }
}

@media only screen and (max-width: 1050px) {
  .submitSurvey {
    margin-left: 2.5rem;
  }

  .surveyForm p {
    font-size: 2rem;
    margin: 0rem 4rem;
  }

  .surveyForm textarea {
    width: 90%;
    margin: 0 auto 2rem auto;
  }

  .container {
    width: 80%;
  }

  .formGroup {
    width: 90%;
    margin: 2rem auto;
    padding: 3rem;
    grid-template-columns: 1fr 22rem;
  }

  .formGroup label {
    font-size: 1.8rem;
  }

  .formGroup select,
  .formGroup option {
    font-size: 1.8rem;
  }

  .formGroup:last-child {
    margin-bottom: 5rem;
  }
}

@media only screen and (max-width: 700px) {
  .surveyForm p {
    font-size: 1.8rem;
    width: 90%;
    margin: 0 auto;
  }

  .container {
    width: 90%;
  }

  .formGroup {
    padding: 2rem;
  }

  .surveyForm textarea::placeholder {
    font-size: 2rem;
  }

  .message {
    margin: 0rem 3rem 2rem 3rem;
  }
}
@media only screen and (max-width: 700px) {
  .formGroup {
    grid-template-columns: 1fr 15rem;
  }
}
