@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

.layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.notFound {
  background-color: #101d2c;
  font-size: 5rem;
  height: 100dvh;
  color: #fff;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Rubik", sans-serif;
}

body {
}

.rsis-container {
  background-image: cover;
}
