@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

.layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  position: relative;
}

.notFound {
  background-color: #101d2c;
  font-size: 5rem;
  height: 100dvh;
  color: #fff;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Rubik", sans-serif !important;
}

body {
  touch-action: manipulation;
}

.nav {
  background-color: #101d2c;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  position: sticky;
  top: 0px;
  z-index: 9999999999;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2);
}

.navLogo img {
  max-width: 200px;
}

.navLeftContainer {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navLeft {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.6rem;
}

.active {
  color: #fff;
  text-decoration: none;
}

.navLink {
  color: #868e96;
  text-decoration: none;
  transition: all 0.3s;
}

.navLink:hover {
  color: #e9ecef;
}

.navTop {
  background-color: #181818;
  color: #8f8f8f;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 1.6rem;
  padding: 2rem 3rem;
}

.navTopLeft {
  display: flex;
  align-items: center;
  gap: 5rem;
  justify-content: space-between;
}

.navTopLeftEmail {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navTopLeftAddress {
  display: flex;
  align-items: center;
  gap: 1rem;
  word-break: break-word;
}

.navTopCenterSocial {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.navTopCenterSocial a svg {
  max-width: 3rem;
}

.navTopCenterSocialInstagram,
.navTopCenterSocialFacebook {
  transition: all 0.3s;
  opacity: 1;
}

.navTopCenterSocialInstagram:hover,
.navTopCenterSocialFacebook:hover {
  opacity: 0.6;
}

/** */
.iconContainer {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.closeIcon {
  height: 3rem;
  width: 3rem;
  display: none;
  color: #fff;
  transition: all 0.3s;
  position: fixed;
  top: 3rem;
  right: 3rem;
}

.closeIcon:hover {
  opacity: 0.8;
}

.handleLanguageButtons {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .nav {
    justify-content: space-between;
    padding: 2rem;
  }

  .navRight {
    display: none;
  }

  .iconContainer {
    display: block;
  }

  .menuIcon {
    height: 3rem;
    width: 3rem;
    color: #fff;
    display: block;
  }

  .navTop {
    display: grid;
    grid-template-columns: 1fr;
  }

  .navTopLeft {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .navTopCenterSocial {
    margin-top: 10px;
  }

  .navLogo img {
    max-width: 200px;
  }

  /***/

  .navLeft {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(-100%);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.5s ease-in;

    /* Hide navigation */
    /* Allows NO transitions at all */
    /* display: none; */

    /* 1) Hide it visually */
    opacity: 0; /* Başlangıçta 1 olarak gir */

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden; /* Başlangıçta visible olarak gir */
  }

  .nav-open .navLeft {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
    font-weight: 500;
  }

  .nav-open .navLeft a:hover {
    color: #101d2c;
  }

  .nav-open .iconContainer {
    display: block;
    z-index: 9999999999999999;
  }

  .nav-open .closeIcon {
    display: block;
    color: #181818;
    transition: all 0.3s;
  }

  .nav-open .closeIcon:hover {
    color: #101d2c;
  }

  .nav-open .menuIcon {
    display: none;
    color: #181818 !important;
  }

  .nav-open .active {
    color: #181818;
  }

  .nav-open .handleLanguageButtons {
    display: block;
  }

  .navLeft {
    flex-direction: column;
    gap: 4.8rem;
  }

  .navLeft a {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 850px) {
  html {
    font-size: 55%;
  }

  .navTopLeft {
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 700px) {
  .navLogo img {
    width: 150px;
  }

  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 440px) {
  html {
    font-size: 34.375%;
  }
}
