@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

.layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  position: relative;
}

.notFound {
  background-color: #101d2c;
  font-size: 5rem;
  height: 100dvh;
  color: #fff;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Rubik", sans-serif !important;
}

body {
}

.rsis-container {
  background-image: cover;
}

.css-1m4ljmh-MuiTypography-root {
  font-size: 30px !important;
}

.css-i4bv87-MuiSvgIcon-root {
  font-size: 30px !important;
}

.css-1c35hjw-MuiPaper-root-MuiAccordion-root {
  width: 80% !important;
  margin: 2rem auto !important;
}

.css-ahj2mt-MuiTypography-root,
.css-1pbh695-MuiTypography-root {
  font-size: 2rem !important;
  font-family: inherit !important;
}

.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root {
  padding: 3rem !important;
}

.css-15v22id-MuiAccordionDetails-root {
  padding: 30px !important;
}

.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15) !important;
}

@media only screen and (max-width: 700px) {
  .css-1c35hjw-MuiPaper-root-MuiAccordion-root {
    width: 100% !important;
  }
}
